body {
    background: url("../images/tess+drew+cleveland.png") no-repeat center center fixed;
    background-size: cover;
    font-family: fairwater-script,sans-serif;
    font-weight: 400;
    font-style: normal;
    color: white;
}

h1 {
    margin-top: 4%;
    font-size: 8vmin;
    color: #652a3c;
    text-align: center;
    text-shadow: #b58291 2px 2px 4px;
}

h2 {
    margin-top: 2%;
    font-size: 6vmin;
    color: #b58291;
    text-align: center;
}

h3 {
    margin-top: 15%;
    font-size: 12vmin;
    text-align: center;
    color: #b58291;
    opacity: 60%;
    text-shadow: #652a3c 2px 2px 2px;
}

@media screen and (min-width: 768px) {
    h3 {
        margin-top: 5%;
    }
}

@media screen and (min-width: 1280px) {
    h3 {
        margin-top: 15%;
    }
}

